<!-- Preloader -->
<!-- <div class="preloader flex-column justify-content-center align-items-center">
  <img class="animation__shake" src="/p/img/Sahlan-Favicon.png" alt="Sahlan logo" height="76" width="123" />
</div> -->

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Navbar Search -->
    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-comments"></i>
        <span class="badge badge-danger navbar-badge" id="messageUnreadNumber">0</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <div id="message-content"></div>
        <div class="dropdown-divider"></div>
        <a href="/dashboard/message/unread" class="dropdown-item dropdown-footer">See All Messages</a>
      </div>
    </li>
    <!-- End Messages Menu -->
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-danger navbar-badge" id="NewOrderNumber">0</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <div id="notifiy-content"></div>
        <a href="/dashboard/order/new" class="dropdown-item dropdown-footer">See All New Orders</a>
      </div>
    </li>
    <!-- End Notifications Menu -->
    <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="btn btn-outline-warning" id="logout" href="/dashboard/user/logout" role="button">Logout</a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link" style="font-size: 1em">
    <img src="/p/img/Sahlan-Favicon.png" alt="AdminLTE Logo" class="brand-image mt-1" style="opacity: 0.8; height: 1.1em" />
    <span class="brand-text font-weight-light">SAHLAN App</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <!-- <div class="image">
        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
      </div> -->
      <div class="info">
        <a href="#" class="d-block">example@domain.com</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item mb-2">
          <a href="/" class="nav-link" id="home">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard/sponser" class="nav-link" id="sponser">
            <i class="nav-icon fas fa-users text-success_"></i>
            <p>
              Sponsors
              <span class="badge badge-success right" id="totalSponsors">0</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/dashboard/initiative" class="nav-link" id="initiative">
            <i class="nav-icon fas fa-tree text-success_"></i>
            <p>
              Initiatives Management
              <span class="badge badge-success right" id="totalInitiatives">0</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/dashboard/location" class="nav-link" id="location">
            <i class="nav-icon fas fa-map-marked text-success_"></i>
            <p>
              Locations Management
              <span class="badge badge-success right" id="totalLocation">0</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard/initrees" class="nav-link" id="initrees">
            <i class="nav-icon fas fa-map-marked text-success_"></i>
            <p>Trees Location</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" id="tree">
            <i class="nav-icon fas fa-tree textss-warning"></i>

            <p>
              Trees Management
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-warning right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none">
            <li class="nav-item">
              <a href="/dashboard/tree" class="nav-link" id="trees">
                <i class="fas fa-check-circle nav-icon textss-maroon"></i>
                <p>Trees</p>
                <span class="badge badge-warning right" id="totalTrees">0</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/tree/header" class="nav-link" id="headers">
                <i class="fas fa-list nav-icon textss-info"></i>
                <p>Trees Headers</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-gift text-success_"></i>
            <p>
              Gifts & cards Management
              <span class="badge badge-warning right" id="totalGift">0</span>
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" id="order">
            <i class="nav-icon fas fa-list-ol textss-warning"></i>

            <p>
              Listing Orders
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-warning right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none">
            <li class="nav-item">
              <a href="/dashboard/order/new" class="nav-link" id="new">
                <i class="fas fa-exclamation-circle nav-icon textss-maroon"></i>
                <p>New Orders</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/order/inprogress" class="nav-link" id="inprogress">
                <i class="fas fa-circle-notch nav-icon textss-info"></i>
                <p>In Progress Orders</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/dashboard/order/completed" class="nav-link" id="completed">
                <i class="far fa-check-circle nav-icon textss-success"></i>
                <p>Completed Orders</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/dashboard/order/cancelled" class="nav-link" id="cancelled">
                <i class="far fa-times-circle nav-icon textss-danger"></i>
                <p>Cancelled Orders</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="/dashboard/promo" id="promo" class="nav-link">
            <i class="nav-icon fas fa-tag textss-maroon"></i>
            <p>
              Promo Codes
              <span class="badge badge-warning right" id="totalPromo">0</span>
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" id="management">
            <i class="nav-icon fas fa-globe"></i>
            <p>
              Look Ups Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/management/about" class="nav-link" id="about">
                <i class="fas fa-circle-notch nav-icon textss-success"></i>
                <p>About</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/dashboard/management/terms" id="terms" class="nav-link">
                <i class="fas fa-circle-notch nav-icon textss-warning"></i>
                <p>Terms and Conditions</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/dashboard/management/policy" class="nav-link" id="policy">
                <i class="fas fa-circle-notch nav-icon textss-warning"></i>
                <p>Privacy Policy</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/faq" class="nav-link" id="faq">
                <i class="fas fa-circle-notch nav-icon textss-warning"></i>
                <p>FAQ</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Blogs</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" id="partner">
            <i class="nav-icon fas fa-handshake textss-warning"></i>

            <p>
              Partner
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-warning right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none">
            <li class="nav-item">
              <a href="/dashboard/partner/partner-page" class="nav-link" id="partner-page">
                <i class="fas fa-list nav-icon textss-maroon"></i>
                <p>List Partners</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/partner/type" class="nav-link" id="type">
                <i class="fas fa-quote-left nav-icon textss-info"></i>
                <p>Types</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" id="message">
            <i class="nav-icon fas fa-envelope-open-text"></i>
            <p>
              Messages
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/message/unread" class="nav-link" id="unread">
                <i class="far fa-envelope nav-icon textss-warning"></i>
                <p>Unread Messages</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/message/read" class="nav-link" id="read">
                <i class="far fa-envelope nav-icon textss-success"></i>
                <p>Read Messages</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>Points & Rewards</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-calculator"></i>
            <p>Carbon Calculator</p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" id="report">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Reports
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/report/order-repo" class="nav-link" id="order-repo">
                <i class="fas fa-chart-line nav-icon"></i>
                <p>Orders report</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/report/user-repo" class="nav-link" id="user-repo">
                <i class="fas fa-users nav-icon"></i>
                <p>Users report</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/report/sponsor-repo" class="nav-link" id="sponsor-repo">
                <i class="fas fa-user-friends nav-icon"></i>
                <p>Sponsors report</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/dashboard/report/initiative-repo" class="nav-link" id="initiative-repo">
                <i class="fas fa-tree nav-icon"></i>
                <p>Initiative Report</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/report/location-trees" class="nav-link" id="location-trees">
                <i class="fas fa-tree nav-icon"></i>
                <p>Location Trees Report</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/report/location-repo" class="nav-link" id="location-repo">
                <i class="fas fa-map nav-icon"></i>
                <p>Location Report</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/report/sales" class="nav-link" id="sales">
                <i class="fas fa-money-bill-wave nav-icon"></i>
                <p>Sales Report</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/dashboard/report/calendar-initiative" class="nav-link" id="calendar-initiative">
                <i class="fas fa-calendar-alt nav-icon"></i>
                <p>Calendar Initiative</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/dashboard/report/charts" class="nav-link" id="charts">
                <i class="fas fa-user-tag nav-icon"></i>
                <p>User charts</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="/dashboard/user" class="nav-link" id="user">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Users - Clients
              <span class="badge badge-warning right" id="totalUsers">0</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cog fa-fw"></i>
            <p>Sahlan Main Data</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard/user/permissions/1" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>User Permissions</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cogs text-danger_"></i>
            <p>
              General Settings
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none">
            <li class="nav-item">
              <a href="/dashboard/country" class="nav-link" id="country">
                <i class="fas fa-globe-americas nav-icon"></i>
                <p>Countries</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/city" class="nav-link" id="city">
                <i class="fas fa-city nav-icon"></i>
                <p>Cities</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/region" class="nav-link" id="region">
                <i class="fas fa-map nav-icon"></i>
                <p>Districts</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/dashboard/sector" class="nav-link" id="sector">
                <i class="fas fa-building nav-icon"></i>
                <p>Entity Sectors</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Startegy Collecting Points</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Admins & Roles
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/dashboard/user/roles" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Roles List</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/dashboard/admin" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Sahlan Admins</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<script>
  fetch("/dashboard/home/num", {
    method: "GET",
  })
    .then((response) => response.json())
    .then((data) => {
      data.lastNewOrders.forEach((elem) => {
        $("#notifiy-content").append(`
          <a href="/dashboard/order/view/${elem.order_id}" class="dropdown-item">
            <!-- Notifiy Start -->
            <div class="media">
              <img src="/p/img/avatar.png" alt="User Avatar" class="img-size-50 mr-3 img-circle" />
              <div class="media-body">
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <p class="text-sm">${elem.web_apps_user.fullName} placed <br><span class="text-bold">${elem.all_sum} SAR </span> order!</p>
                <span class="badge" style="background: rgb(205, 255, 205);"><h3 class="dropdown-item-title text-success">New order</h3></span>
                <p class="text-sm text-muted">
                  <i class="far fa-clock mr-1"></i>
                  ${new Date(elem.createdAt).toLocaleString('default', { month: 'short' })} ${new Date(elem.createdAt).getDay()} ${new Date(elem.createdAt).getFullYear()} - ${new Date(elem.createdAt).getHours()}:${new Date(elem.createdAt).getMinutes()} ${new Date(elem.createdAt).getHours() >= 12 ? 'PM' : 'AM'}
                </p>
              </div>
            </div>
            <!-- Notifiy End -->
          </a>
          <div class="dropdown-divider"></div>
        `)
      })
      data.lastNewMessage.forEach((elem) => {
        $("#message-content").append(`
          <a href="/dashboard/message/view/${elem.message_id}" class="dropdown-item">
            <!-- Notifiy Start -->
            <div class="media">
              <img src="/p/img/avatar.png" alt="User Avatar" class="img-size-50 mr-3 img-circle" />
              <div class="media-body">
                <h3 class="dropdown-item-title">${elem.email}</h3>
                <p class="text-sm">Name : ${elem.name}</p>
                <p class="text-sm text-muted">
                  <i class="far fa-clock mr-1"></i>
                  ${moment(elem.createdAt).fromNow()}
                </p>
              </div>
            </div>
            <!-- Notifiy End -->
          </a>
          <div class="dropdown-divider"></div>
        `)
      })
      $("#NewOrderNumber").text(data.notifiedOrders.New)
      $("#messageUnreadNumber").text(data.messageNum)
      // Set side bar numbers
      $("#totalLocation").text(data.totalLocation)
      $("#totalTrees").text(data.totalTrees)
      $("#totalInitiatives").text(data.totalInitiatives)
      $("#totalSponsors").text(data.totalSponsors)
      $("#totalPromo").text(data.totalPromo)
      $("#totalUsers").text(data.totalUsers)
      $("#totalGift").text(data.totalGift)
    })
    .catch((err) => {
      console.error(err)
    })
</script>
