<div class="col-4">
  <ul style="list-style-type:none">
    <li>
      <a href="#">
        Popular Destinations Visited
      </a>
    </li>
    <li>
      <a href="#">
        Popular Events
      </a>
    </li>
    <li>
      <a href="#">
        Popular Trips
      </a>
    </li>
    <li>
      <a href="#">
        Popular Stores
      </a>
    </li>
    <li>
      <a href="#">
        Popular Activities
      </a>
    </li>
    <li>
      <a href="#">
        Popular Restaurant
      </a>
    </li>
  </ul>
</div>
<strong>
  Copyright &copy; 2022
  <a href="https://sahlan.app/">Sahlan App</a>
  .
</strong>
All rights reserved.
<div class="float-right d-none d-sm-inline-block"></div>
