<!-- Preloader -->
<!-- <div class="preloader flex-column justify-content-center align-items-center">
  <img class="animation__shake" src="/p/img/Sahlan-Favicon.png" alt="Sahlan logo" height="76" width="123" />
</div> -->

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" style="font-size: 13px;" data-toggle="dropdown" href="#">
        Explore Destinations
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" style="font-size: 13px;" data-toggle="dropdown" href="#">
        Plan Your Trip
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" style="font-size: 13px;" data-toggle="dropdown" href="#">
        Events
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" style="font-size: 13px;" data-toggle="dropdown" href="#">
        Calendar
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" style="font-size: 13px;" data-toggle="dropdown" href="#">
        Stores
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" style="font-size: 13px;" data-toggle="dropdown" href="#">
        Travel Essentials
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" style="font-size: 13px;" data-toggle="dropdown" href="#">
        Public filter about destinations
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" style="font-size: 13px;" data-toggle="dropdown" href="#">
        Request ads
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="btn btn-outline-warning" id="logout" href="/dashboard/user/logout" role="button">Logout</a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link" style="font-size: 1em">
    <img src="/p/img/Sahlan-Favicon.png" alt="AdminLTE Logo" class="brand-image mt-1" style="opacity: 0.8; height: 1.1em" />
    <span class="brand-text font-weight-light">SAHLAN App</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <!-- <div class="image">
        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
      </div> -->
      <div class="info">
        <a href="#" class="d-block">example@domain.com</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false" id="sidebar">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<script>
  fetch("/dashboard/home/num", {
    method: "GET",
  })
    .then((response) => response.json())
    .then((data) => {
      $("#sidebar").append(`
        <li class="nav-item mb-2">
          <a href="/" class="nav-link" id="home">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Prev Dashboard</p>
          </a>
        </li>
      `);
      if (data.isHighestAdmin) {
        $("#sidebar").append(`
        <li class="nav-item">
          <a href="/dashboard2/destination" class="nav-link" id="destination-management">
            <i class="nav-icon fas fa-globe-americas text-success_"></i>
            <p style="font-size: 13px;">
              Destinations Management
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/dashboard2/destination-place" class="nav-link" id="destination-place">
            <i class="nav-icon fas fa-map-marked text-success_"></i>
            <p style="font-size: 13px;">
              Destinations Most Popular places
              <span class="badge badge-success right" id="mostPopularPlaces">0</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/dashboard2/destination-store" class="nav-link" id="destination-store">
            <i class="nav-icon fas fa-store text-success_"></i>
            <p style="font-size: 13px;">
              Destinations Stores Management
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard2/restaurant" class="nav-link" id="destination-restaurant">
            <i class="nav-icon fas fa-store text-success_"></i>
            <p style="font-size: 13px;">Destinations Restaurants</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard2/hotel" class="nav-link" id="destination-hotel">
            <i class="nav-icon fas fa-store text-success_"></i>
            <p style="font-size: 13px;">Destinations Hotels</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard2/activity" class="nav-link" id="destination-activity">
            <i class="nav-icon fas fa-circle text-success_"></i>
            <p style="font-size: 13px;">Destinations Activities</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/dashboard2/event" class="nav-link">
            <i class="nav-icon fas fa-list text-success_"></i>
            <p style="font-size: 13px;">
              Events Management
              <span class="badge badge-warning right" id="events">0</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/dashboard2/guide" id="tourist-management" class="nav-link">
            <i class="nav-icon fas fa-user textss-maroon"></i>
            <p style="font-size: 13px;">
              Tourist guide Management
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/dashboard2/provider" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p style="font-size: 13px;">Providers Management</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/dashboard2/trip" class="nav-link">
            <i class="nav-icon fas fa-circle"></i>
            <p style="font-size: 13px;">Trips Management</p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="/dashboard2/store" class="nav-link" id="report">
            <i class="nav-icon fas fa-store"></i>
            <p style="font-size: 13px;">
              Store Management
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="/dashboard2/package" class="nav-link" id="report">
            <i class="nav-icon far fa-circle"></i>
            <p style="font-size: 13px;">
              Packages Management
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/dashboard2/ads" class="nav-link" id="ads">
            <i class="nav-icon fas fa-tag"></i>
            <p style="font-size: 13px;">
              Ads Management
              <span class="badge badge-warning right" id="numAds">0</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard2/home" class="nav-link">
            <i class="nav-icon fas fa-plane"></i>
            <p style="font-size: 13px;">
              Travel Essentials
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard2/ticket" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p style="font-size: 13px;">Tickets Booking Management</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard2/membership" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p style="font-size: 13px;">Memberships Management</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cogs text-danger_"></i>
            <p style="font-size: 13px;">
              General Settings
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none">
            <li class="nav-item">
              <a href="/dashboard2/activity-category" class="nav-link" id="country">
                <i class="far fa-circle nav-icon"></i>
                <p style="font-size: 13px;">Activities categories</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard2/home" class="nav-link" id="city">
                <i class="far fa-circle nav-icon"></i>
                <p style="font-size: 13px;">Destinations Interests categories</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard2/event-category" class="nav-link" id="region">
                <i class="far fa-circle nav-icon"></i>
                <p style="font-size: 13px;">Events Categories</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard2/home" class="nav-link" id="sector">
                <i class="far fa-circle nav-icon"></i>
                <p style="font-size: 13px;">Audience Categories</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/dashboard2/home" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p style="font-size: 13px;">Seasons</p>
              </a>
            </li>
          </ul>
        </li>
        `);
      } else {
        const sponsor = data.userPermissions.filter((userPermission) => userPermission.module.name === "Sponsors");
        if (sponsor.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/destination" class="nav-link" id="destination-management">
              <i class="nav-icon fas fa-globe-americas text-success_"></i>
              <p style="font-size: 13px;">
                Destinations Management
              </p>
            </a>
          </li>
          `);
        }
        const initiativeManagement = data.userPermissions.filter((userPermission) => userPermission.module.name === "Initiative Management");
        if (initiativeManagement.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/destination-place" class="nav-link" id="destination-place">
              <i class="nav-icon fas fa-map-marked text-success_"></i>
              <p style="font-size: 13px;">
                Destinations Most Popular places
                <span class="badge badge-success right" id="mostPopularPlaces">0</span>
              </p>
            </a>
          </li>
          `);
        }
        const locationsManagement = data.userPermissions.filter((userPermission) => userPermission.module.name === "Locations Management");
        if (locationsManagement.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/destination-store" class="nav-link" id="destination-store">
              <i class="nav-icon fas fa-store text-success_"></i>
              <p style="font-size: 13px;">
                Destinations Stores Management
              </p>
            </a>
          </li>
          `);
        }
        const treesLocation = data.userPermissions.filter((userPermission) => userPermission.module.name === "Trees Location");
        if (treesLocation.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/restaurant" class="nav-link" id="destination-restaurant">
              <i class="nav-icon fas fa-store text-success_"></i>
              <p style="font-size: 13px;">Destinations Restaurants</p>
            </a>
          </li>
          `);
        }
        const hotels = data.userPermissions.filter((userPermission) => userPermission.module.name === "Trees Location");
        if (hotels.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/hotel" class="nav-link" id="destination-hotel">
              <i class="nav-icon fas fa-store text-success_"></i>
              <p style="font-size: 13px;">Destinations Hotels</p>
            </a>
          </li>
          `);
        }
        const trees = data.userPermissions.filter((userPermission) => userPermission.module.name === "Trees List");
        if (trees.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/activity" class="nav-link" id="destination-activity">
              <i class="nav-icon fas fa-circle text-success_"></i>
              <p style="font-size: 13px;">Destinations Activities</p>
            </a>
          </li>
          `);
        }
        const giftsCardsManagement = data.userPermissions.filter((userPermission) => userPermission.module.name === "Gift & Cards Management");
        if (treesLocation.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/home" class="nav-link">
              <i class="nav-icon fas fa-list text-success_"></i>
              <p style="font-size: 13px;">
                Events Management
                <span class="badge badge-warning right" id="events">0</span>
              </p>
            </a>
          </li>
          `);
        }
        const newOrders = data.userPermissions.filter((userPermission) => userPermission.module.name === "New Orders List");
        if (newOrders.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/guide" id="tourist-management" class="nav-link">
              <i class="nav-icon fas fa-user textss-maroon"></i>
              <p style="font-size: 13px;">
                Tourist Guide Management
              </p>
            </a>
          </li>
          `);
        }
        const promoCodes = data.userPermissions.filter((userPermission) => userPermission.module.name === "Promo Codes");
        if (promoCodes.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/provider" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p style="font-size: 13px;">Providers Management</p>
            </a>
          </li>
          `);
        }
        const about = data.userPermissions.filter((userPermission) => userPermission.module.name === "About");
        if (about.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/trip" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p style="font-size: 13px;">Trips Management</p>
            </a>
          </li>
          `);
        }
        const listPartners = data.userPermissions.filter((userPermission) => userPermission.module.name === "Partners List");
        if (listPartners.length) {
          $('#sidebar').append(`
          <li class="nav-item has-treeview">
            <a href="/dashboard2/store" class="nav-link" id="report">
              <i class="nav-icon fas fa-store"></i>
              <p style="font-size: 13px;">
                Store Management
              </p>
            </a>
          </li>
          `);
        }
        const listPackages = data.userPermissions.filter((userPermission) => userPermission.module.name === "Packages Management");
        if (listPackages.length) {
          $('#sidebar').append(`
              <li class="nav-item has-treeview">
                <a href="/dashboard2/package" class="nav-link" id="report">
                  <i class="nav-icon far fa-circle"></i>
                  <p style="font-size: 13px;">
                    Packages Management
                  </p>
                </a>
              </li>
          `);
        }
        const unread = data.userPermissions.filter((userPermission) => userPermission.module.name === "Unread Messages");
        if (unread.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/ads" class="nav-link" id="ads">
              <i class="nav-icon fas fa-tag"></i>
              <p style="font-size: 13px;">
                Ads Management
                <span class="badge badge-warning right" id="numAds">0</span>
              </p>
            </a>
          </li>
          `);
        }
        const pointsRewards = data.userPermissions.filter((userPermission) => userPermission.module.name === "Points & Rewards");
        if (pointsRewards.length) {
          $('#sidebar').append(`
          <li class="nav-item">
            <a href="/dashboard2/home" class="nav-link">
              <i class="nav-icon fas fa-plane"></i>
              <p style="font-size: 13px;">
                Travel Essentials
              </p>
            </a>
          </li>
          `);
        }
        const carbonCalculator = data.userPermissions.filter((userPermission) => userPermission.module.name === "Carbon Calculator");
        if (carbonCalculator.length) {
          $('#sidebar').append(`
            <li class="nav-item">
              <a href="/dashboard2/ticket" class="nav-link">
                <i class="far fa-file-circle-check" nav-icon"></i>
                <p style="font-size: 13px;">Tickets Booking Management</p>
              </a>
            </li>
          `);
        }
        const carbonhCalculator = data.userPermissions.filter((userPermission) => userPermission.module.name === "Carbon Calculator");
        if (carbonCalculator.length) {
          $('#sidebar').append(`
            <li class="nav-item">
              <a href="/dashboard2/membership" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p style="font-size: 13px;">Memberships Management</p>
              </a>
            </li>
          `);
        }
        const ordersReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Orders Report");
        const usersReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Users Report");
        const sponsorsReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Sponsors Report");
        const initiativeReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Initiatives Report");
        const locationTreesReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Locations Trees Report");
        const locationReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Locations Report");
        const salesReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Sales Report");
        const calendarInitiative = data.userPermissions.filter((userPermission) => userPermission.module.name === "Calendar Initiative Report");
        const userCharts = data.userPermissions.filter((userPermission) => userPermission.module.name === "User Charts Report");
        if (ordersReport.length || usersReport.length || sponsorsReport.length || initiativeReport.length || locationTreesReport.length || locationReport.length || salesReport.length || calendarInitiative.length || userCharts.length) {
          $('#sidebar').append(`
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-cogs text-danger_"></i>
                <p style="font-size: 13px;">
                  General Settings
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" id="settings"></ul>                
            </li>
          `);
          if (ordersReport.length) {
            $('#settings').append(`
                <li class="nav-item">
                  <a href="/dashboard2/activity-category" class="nav-link" id="country">
                    <i class="far fa-circle nav-icon"></i>
                    <p style="font-size: 13px;">Activities categories</p>
                  </a>
                </li>
            `);
          }
          if (usersReport.length) {
            $('#settings').append(`
                <li class="nav-item">
                  <a href="/dashboard2/home" class="nav-link" id="city">
                    <i class="far fa-circle nav-icon"></i>
                    <p style="font-size: 13px;">Destinations Interests categories</p>
                  </a>
                </li>
            `);
          }
          if (sponsorsReport.length) {
            $('#settings').append(`
                <li class="nav-item">
                  <a href="/dashboard2/event-category" class="nav-link" id="region">
                    <i class="far fa-circle nav-icon"></i>
                    <p style="font-size: 13px;">Events Categories</p>
                  </a>
                </li>
            `);
          }
          if (initiativeReport.length) {
            $('#settings').append(`
                <li class="nav-item">
                  <a href="/dashboard2/home" class="nav-link" id="sector">
                    <i class="far fa-circle nav-icon"></i>
                    <p style="font-size: 13px;">Audience Categories</p>
                  </a>
                </li>
            `);
          }
          if (locationTreesReport.length) {
            $('#settings').append(`
                <li class="nav-item">
                  <a href="/dashboard2/home" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p style="font-size: 13px;">Seasons</p>
                  </a>
                </li>
            `);
          }
        }
      }
      data.lastNewOrders.forEach((elem) => {
        $("#notifiy-content").append(`
          <a href="/dashboard/order/view/${elem.order_id}" class="dropdown-item">
            <!-- Notifiy Start -->
            <div class="media">
              <img src="/p/img/avatar.png" alt="User Avatar" class="img-size-50 mr-3 img-circle" />
              <div class="media-body">
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <p class="text-sm">${elem.web_apps_user.fullName} placed <br><span class="text-bold">${elem.all_sum} SAR </span> order!</p>
                <span class="badge" style="background: rgb(205, 255, 205);"><h3 class="dropdown-item-title text-success">New order</h3></span>
                <p class="text-sm text-muted">
                  <i class="far fa-clock mr-1"></i>
                  ${new Date(elem.createdAt).toLocaleString('default', { month: 'short' })} ${new Date(elem.createdAt).getDay()} ${new Date(elem.createdAt).getFullYear()} - ${new Date(elem.createdAt).getHours()}:${new Date(elem.createdAt).getMinutes()} ${new Date(elem.createdAt).getHours() >= 12 ? 'PM' : 'AM'}
                </p>
              </div>
            </div>
            <!-- Notifiy End -->
          </a>
          <div class="dropdown-divider"></div>
        `)
      })
      data.lastNewMessage.forEach((elem) => {
        $("#message-content").append(`
          <a href="/dashboard/message/view/${elem.message_id}" class="dropdown-item">
            <!-- Notifiy Start -->
            <div class="media">
              <img src="/p/img/avatar.png" alt="User Avatar" class="img-size-50 mr-3 img-circle" />
              <div class="media-body">
                <h3 class="dropdown-item-title">${elem.email}</h3>
                <p class="text-sm">Name : ${elem.name}</p>
                <p class="text-sm text-muted">
                  <i class="far fa-clock mr-1"></i>
                  ${moment(elem.createdAt).fromNow()}
                </p>
              </div>
            </div>
            <!-- Notifiy End -->
          </a>
          <div class="dropdown-divider"></div>
        `)
      })
      $("#NewOrderNumber").text(data.notifiedOrders.New)
      $("#messageUnreadNumber").text(data.messageNum)
      // Set side bar numbers
      $("#totalLocation").text(data.totalLocation)
      $("#totalTrees").text(data.totalTrees)
      $("#totalInitiatives").text(data.totalInitiatives)
      $("#totalSponsors").text(data.totalSponsors)
      $("#totalPromo").text(data.totalPromo)
      $("#totalUsers").text(data.totalUsers)
      $("#totalGift").text(data.totalGift)
    })
    .catch((err) => {
      console.error(err)
    })
</script>
