<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layout/heade.ejs') %>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <img src="/p/img/logo500x240.png" style="width: 150px" />
        </div>
        <div class="card-body">
          <p class="login-box-msg">Sign up to start your session</p>

          <form onsubmit="register(event)">
            <div class="form-group clearfix mb-0">
              <div class="icheck-primary d-inline mr-1">
                <input type="radio" id="isIndividual" name="user_type" checked />
                <label for="isIndividual">Individual</label>
              </div>
              <div class="icheck-primary d-inline">
                <input type="radio" id="isEntity" name="user_type" />
                <label for="isEntity">Entity</label>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" id="emailOrPhone" class="form-control" placeholder="EmailOrPhone" required />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" id="password" class="form-control" placeholder="Password" required />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3 d-flex justify-content-center"><span>Already have an account, <a href="/user/login">Sign In</a></span></div>
            <div class="input-group mb-3 d-flex justify-content-center"><span>Are you a tour guide and want to register, Click here <a href="/guide/register">Register</a></span></div>
            <div class="input-group mb-3"><button id="login-btn" type="submit" class="btn btn-primary btn-block has-spinner">Sign Up</button></div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <%- include('layout/script.ejs') %>
    <script src="/website/js/register.js"></script>
  </body>
</html>
